# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
pubspec.lock

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Xcode
DerivedData/
*.xcworkspace

# Linux / Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# Firebase
lib/firebase_options.dart

# Hive boxes
*.hive
*.lock

# Other
.DS_Store
coverage/
