name: my_tome
description: A Flutter app for managing a personal book collection.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cloud_firestore: ^5.6.12
  cupertino_icons: ^1.0.6
  firebase_core: ^3.6.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  provider: ^6.1.2
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
